/* BUTTONS */
.btn {
  padding: 12px 18px;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-orange {
  background: var(--orange);
  color: var(--white);
}

.btn-orange:hover {
  background: var(--orange-dark);
}

.btn-black {
  background: var(--black);
  color: var(--white);
}

/* INPUTS */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: var(--radius);
  border: 1px solid #ddd;
}

/* CARD (cars, admin…) */
.card {
  background: var(--white);
  border-radius: var(--radius);
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
/* NAVBAR */
.navbar {
  background: var(--white);
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}

.logo-orange {
  color: var(--orange);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: var(--black);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--orange);
}
